body {
    background-color: #111313;
}

p, h6 {
    color: #f4fdff;
}

h1 {
    color: #f4fdff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f4fdff;
}

body, p, h1 {
    font-family: 'Times New Roman', Times, serif;
}